@import "src/styles/variables";
.select-auto-complete {
  word-wrap: break-word;
  overflow: hidden;
  .ant-select-arrow {
    top: 36%;
    right: 5px;
  }

  .tio {
    font-size: 20px;
  }
}

.ant-select-open {
  .ant-select-arrow-icon {
    transform: rotate(180deg);
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}
