.role-detail {
  // .ant-card {
  //   min-height: auto !important;
  // }
  .field-input {
    .ant-form-item-children {
      flex-wrap: wrap;
      .multi-select {
        -webkit-box-flex: 0 0 100%; /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 0 0 100%; /* OLD - Firefox 19- */
        width: 100%; /* For old syntax, otherwise collapses. */
        -webkit-flex: 0 0 100%; /* Chrome */
        -ms-flex: 0 0 100%; /* IE 10 */
        flex: 0 0 100%; /* NEW, Spec - Opera 12.1, Firefox 20+ */
      }

      .multi-tag {
        width: 100%; /* For old syntax, otherwise collapses. */
      }
    }
  }
  .form-validate {
    .ant-form-explain {
      margin-left: 30%;
    }
  }
}
