.profile {
  .ant-card {
    min-height: auto !important;
  }
  .ant-tabs-nav-wrap {
    margin-left: 1.5rem !important;
  }
  .tio-clear {
    color: #ee534d;
    font-size: 20px;
  }
  .tio-done {
    color: #2cde32;
    font-size: 20px;
  }
  .input-date {
    .anticon svg {
      margin-bottom: unset;
    }
  }
}
